# Environment variables
.env

# Virtual environment
venv/
.venv/

# Python cache
__pycache__/
*.py[cod]

# Test/cache files
.pytest_cache/
.coverage

# IDE files
.vscode/

# OS files
.DS_Store
Thumbs.db

# Local database files
*.db
*.sqlite
*.sqlite3

# Backup/duplicate project files
*.zip
bsckup1/
work2/
intra-aura/